@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    /* interlineado*/
    line-height: 2;
}
html{
    /* 1rem = 10 px */
    font-size: 62.5%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.text-center{
    text-align: center;
    padding:4rem 0 4rem 0;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
}

 h1 span{
    color: #037bc0;
}
.btn{
    background-color: #8cbc00;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color 0.3s ease-out;
    text-align: center;
    border: noe;
}
.btn:hover{
    background-color: #769c02;
    cursor: pointer;
}
.max-width-30{
    max-width: 30rem;
}
.Titulo-principal{
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
}
.contenedor-navegacion{
    border-top:1px solid #e1e1e1 ;
}

.nav-principal{
   
    padding: 2rem 0 2rem 0;
    display: flex;
}

.contenedor{
    max-width: 100rem;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    height: 55rem;
    background-image: url("../Imagenes/principal.jpg");
    background-repeat: no-repeat;
    /* se puede modificar con pixeles, primer numero eje x segudo eje y */
    background-position: center center;
    /* para que ocupe todo el lugar disponible*/
    background-size: cover;
}

/* categoria productos */

.listado-categoria{
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

/* imagenes responsig */
img{
    max-width: 100%;
    /*para sacar los espacios*/
    display: block;
}
.categorias h2{
    text-align: center;
}
.categoria a{
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover{
    background: #037bc0;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/* sobre nosotros */

.sobre-nosotros{
    /* para dividir una imagen y un color */
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100% )
    , url("../Imagenes/nosotros.jpg");
    /* izquierda 100% centrada */
    background-position: left center;
    padding:10rem 0 10rem 0;
    background-repeat: no-repeat;
    /* primero del gradient y despues de la imagen */
    background-size: 100%, 75rem;
    margin: 4rem 0 4rem 0;
}

/*.sobre-nosotros-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
}
.texto-nosotros{
    grid-column: 2 / 3;
}*/

.sobre-nosotros-grid{
    display: flex;
    justify-content: flex-end;
}
.texto-nosotros{
    /* corta la caja del text por la mitad, el tamaño del elemento */
    flex-basis: 46%;
    color: white;
}

/* productos */
.contenido-principal{
    margin-bottom: 4rem;
}
.producto{
    background-color: #037bc0;
}
.texto-producto{
    text-align: center;
    color:white;
    padding: 2rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0;
}
.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}
.listado-productos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 2rem;
}
.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img{
    height: 50rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}
.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}

/* footer */
footer{
    border-top: 1px solid #e1e1e1;
}
footer .footer-enlases{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.footer-enlases h3{
    margin:4rem 0 0.5rem 0;
}
.footer-enlases nav a{
    display: block;
}
footer p{
    text-align: center;
    padding-top: 4rem;
}

/* sobre nosotros pagina*/
.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    column-gap: 4rem;
    margin-bottom: 4rem;
}
.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* tienda */

/*blog*/
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
    max-width: 100rem;
    margin: 0 auto 0 auto;
}
.entrada{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border:none;
}
.entrada-meta{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.entrada-meta p span{
    color:#037bc0;
}

/* entrada */

.contenido-entrada-blog{
    max-width: 60rem;
    margin: 0 auto 0 auto;
}

/* galeria */

.galeria{
    max-width: 100rem;
    list-style: none;
    padding: 0;
    margin: 0 auto 4rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.galeria img{
    height: 20rem;
    width: 40rem;
    object-fit: cover;
}

/*contacto, formulario*/
.formulario{
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;
}
.formulario legend{
    background-color: #037bc0;
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 4rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo label{
    /* para que tenga el mismo tamaño y esten alineados*/
    flex-basis: 10rem;
}
/* todos los campos menos el de radio */
.campo input:not([type="radio"]),
textarea,
select{
    flex:1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}






